.image2,
.profile1 {
  position: relative;
  background-color: var(--color-darkslategray-100);
}
.image2 {
  height: 196px;
  flex: 1;
  border-radius: var(--br-base);
  display: none;
}
.profile1 {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.coach,
.szilgyi-erik {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 37px;
}
.szilgyi-erik {
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--white);
  min-width: 82px;
}
.instructor-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image1,
.profile-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.profile-info {
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-darkslategray-400);
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-xs);
  z-index: 1;
}
.image1 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-darkslategray-100);
  justify-content: flex-end;
  padding: var(--padding-114xl) 0 var(--padding-mini);
  gap: var(--gap-9xs);
  color: var(--color-darkgray);
}
.icon-star {
  width: 16px;
  height: 16px;
  position: relative;
}
.rating-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.label3 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 21px;
}
.course-rating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.clipboard-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.progress-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.label4 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 74px;
}
.course-progress,
.course-stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.course-stats {
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-lg);
  font-size: var(--font-size-sm);
}
.title18 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 24px;
  font-weight: 500;
}
.card3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  min-width: 222px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-inter);
}
