@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-xs: 12px;

  /* Colors */
  --color-gray-100: #181d19;
  --color-gray-200: #101411;
  --color-whitesmoke-100: #f2f3f5;
  --color-whitesmoke-200: rgba(242, 243, 245, 0.5);
  --color-darkslategray-100: #484f4a;
  --color-darkslategray-200: #3c423d;
  --color-darkslategray-300: #303c33;
  --color-darkslategray-400: #323a34;
  --color-darkslategray-500: #2f2f2f;
  --color-darkslategray-600: #242b25;
  --white: #fff;
  --color-mediumseagreen-100: rgba(0, 177, 92, 0.48);
  --color-darkgray: #a7a7a7;
  --color-springgreen-100: #02fe84;
  --color-springgreen-200: #01fe84;
  --color-springgreen-300: #02f07e;
  --color-limegreen: #00bd4a;
  --color-mediumspringgreen: #01d971;

  /* Gaps */
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-mid: 17px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-2xs: 11px;
  --gap-9xs: 4px;
  --gap-18xl: 37px;
  --gap-mini: 15px;
  --gap-10xs: 3px;
  --gap-6xs: 7px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-4xl-8: 23.8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-2xs: 11px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-9xs: 4px;
  --padding-22xl: 41px;
  --padding-xs: 12px;
  --padding-11xs: 2px;
  --padding-114xl: 133px;
  --padding-mini: 15px;
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-17xl: 36px;
  --padding-13xl: 32px;
  --padding-12xs: 1px;
  --padding-63xl: 82px;
  --padding-7xs: 6px;
  --padding-4xs-5: 8.5px;
  --padding-2xl: 21px;
  --padding-lgi-5: 19.5px;
  --padding-5xs-5: 7.5px;
  --padding-smi: 13px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-21xl: 40px;
  --br-80xl: 99px;
  --br-base: 16px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-980xl: 999px;
  --br-8xs: 5px;
}
